<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>Cities 2 - Image Classification</span>
  <span class="spacer"></span>
  <a href="https://eetac.upc.edu/ca" target="_blank"><img src="../../assets/image.png" height="50" width="50" style="margin-left: 0.5em; margin-right: 0.5em"></a>
  <button mat-button><i class="fab fa-github"></i> GitHub</button>
</mat-toolbar>

<div class="container">
  <div class="row">
    <div class="function col-md-12">
      <h2 style="text-align: center; margin-bottom: 0.5em">Cities 2 - Image Classification</h2>
      <mat-card class="card col-md-6">
        <mat-card-title>Selecciona una imatge!</mat-card-title>

        <div class="upload-file">
          <input type="file" id="file1" (change)="handleFileInput($event)">
        </div>
        <button mat-raised-button color="primary" class="component-button" (click)="submitImage()">Pujar</button>
      </mat-card>
      <div class="explanation col-md-6">

      </div>
      <div class="col-md-12">
        Realitzat per: Erik Blanca, Aleix Cánovas, Oscar Mampel
      </div>
    </div>
  </div>
</div>
